---
import WebglCanvas from '../components/WebglCanvas.astro';
import { Card } from '@/components/ui/card';

import Me from '../images/me2.png';
import Luca from '../images/luca.png';
import Suiker from '../images/archief.png';
import Podwalk from '../images/podwalk.jpg';
import Prins from '../images/prins.png';
import CatchControl from '../images/catchcontrol.webp';

import PortfolioItem from '../components/PortfolioItem.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<script>
	import { query } from '../utils/generalUtils';
	import { gsap } from 'gsap';
	import { SplitText } from 'gsap/dist/SplitText';
	import ScrollTrigger from 'gsap/dist/ScrollTrigger';
	import { ScrollSmoother } from 'gsap/ScrollSmoother';

	gsap.registerPlugin(SplitText, ScrollTrigger, ScrollSmoother);

	gsap.from('.home-title h1', { duration: 2, delay: 1.5, ease: 'power4.out', scale: 0.2 });
	gsap.from('.home-title h1', { duration: 1, delay: 1.5, opacity: 0 });

	const tlItems = query('.scroll-timeline .item');

	const tl = gsap.timeline({
		scrollTrigger: {
			trigger: '.scroll-trigger',
			start: 'center center',
			end: `+=${(tlItems.length + 4) * 500}px`,
			pin: true,
			scrub: 0
		}
	});
	tl.to('.home-title', { duration: 1, translateZ: 60, pointerEvents: 'none', ease: 'linear' });
	tl.to('.canvas', { duration: 1, filter: 'blur(20px)', opacity: 0 }, '>+2');

	tlItems.forEach((item, i) => {
		const pop = { duration: 1, ease: 'power4.out' };
		const itemTl = gsap.timeline({ paused: true });
		const img = item.querySelectorAll('.image');
		if (img) itemTl.from(img, { ...pop, rotate: 5, scale: 0.35 });

		const { words } = new SplitText(item.querySelector('.animate-text'), { type: 'words' });
		const stagger = item.classList.contains('about') ? 0.03 : 0.05;
		const clipPath = 'inset(0 0 100% 0)';
		itemTl.from(words, { ...pop, y: '100%', rotate: 5, clipPath, stagger }, '<');

		const info = item.querySelector('.info');
		if (info) itemTl.from(info, { ...pop, scale: 0.5 }, '<');

		const onStart = () => {
			itemTl.restart();
		};
		const linear = { ease: 'linear', duration: 1 };

		tl.to(item, { duration: 0.001, visibility: 'visible' });
		tl.from(item, { ...linear, translateZ: -60, onStart }, i == 0 ? '<' : '>');
		tl.from(item, { ...linear, duration: 0.5, opacity: 0 }, '<');
		if (i == tlItems.length - 1) return;
		tl.to(item, { ...linear, translateZ: 60 });
		tl.to(item, { ...linear, duration: 0.5, opacity: 0 }, '<+0.5');
		tl.to(item, { ...linear, duration: 0.0001, pointerEvents: 'none' });
	});
	tl.to('.canvas', { duration: 1, opacity: 0.6 }, '<');
</script>

<Layout title="Wytze Sligting">
	<div id="smooth-wrapper">
		<div id="smooth-content">
			<div class="scroll-trigger h-screen"></div>
		</div>
	</div>

	<div class="canvas fixed pointer-events-none top-0">
		<WebglCanvas delay={500} />
	</div>

	<div class="scroll-timeline fixed top-0 w-full h-screen" style="perspective: 100px; transform-style: preserve-3d;">
		<div class="home-title absolute inset-0 flex items-end justify-center">
			<div class="absolute inset-0 bg-gradient-to-t from-black/25 via-transparent"></div>
			<h1 class="text-4xl sm:text-6xl md:text-8xl uppercase h-full flex flex-col justify-end">
				<div>I make</div>
				<div>ideas real</div>
			</h1>
		</div>
		<div class="item about absolute inset-0 text-xl text-center flex flex-col items-center justify-center">
			<Card className="image overflow-hidden">
				<Image src={Me} alt="" class="w-32 mix-blend-screen" width={600} />
			</Card>
			<br />
			<div class="animate-text">
				<p>Hey! I'm Wytze.</p>
				<p>A freelance computer nerd</p>
				<p>with an eye for design. I love</p>
				<p>to make an idea come to life.</p>
			</div>
			<!-- <p>Send me an email.</p>
			<p>I'll be friendly!</p>
			<a href="/" class="underline">info@wytze.dev</a> -->
		</div>

		<div class="item absolute inset-0 flex items-center justify-center">
			<h1 class="animate-text text-9xl uppercase grid grid-cols-2 text-center">
				<div class="m-[-0.8rem]">w</div>
				<div class="m-[-0.8rem]">o</div>
				<div class="m-[-0.8rem]">r</div>
				<div class="m-[-0.8rem]">k</div>
			</h1>
		</div>

		<PortfolioItem
			image={Luca}
			title="Snakken naar Tichelaar"
			description="A rebellious exhibition about ceramics"
			tags={['Graphic design', 'Exposition design', 'Curation']}
		/>
		<PortfolioItem
			image={Suiker}
			title="Nationaal Suikerbieten archief"
			description="An arhcive website about the history of Dutch sugar industry"
			tags={['Web app', 'Solid.js', 'Supabase', 'Mux video']}
		/>
		<PortfolioItem
			image={Podwalk}
			title="Podwalk"
			description="A historical GPS guided audiotour"
			tags={['Mobile app', 'Flutter', 'GPS tracking', 'Narration & sound design']}
		/>
		<PortfolioItem
			image={Prins}
			title="Café de Prins"
			description="Revamping an iconic café and hotel"
			tags={['Interior design', 'Brand identity', 'Graphic design']}
		/>
		<PortfolioItem
			image={CatchControl}
			title="Catch Control"
			description="A monitoring app for nature enthousiasts"
			tags={['Mobile app', 'Flutter', 'Firebase', 'Hardware integration']}
		/>
		<div class="item absolute inset-0 flex flex-col items-center justify-center">
			<div class="animate-text">
				<h2 class="text-9xl uppercase">Let's<br />chat</h2>

				<p class="font-hero text-foreground/65">
					Contact me for full time jobs, <br />
					freelance projects or just to say hello :-)
				</p>
				<a href="/" class="font-hero">hello@wytze.dev</a>
			</div>
		</div>
	</div>
</Layout>
