---
import { Image } from 'astro:assets';
import { Card, CardContent, CardTitle } from './ui/card';
import TimelineItem from './TimelineItem.astro';

interface Props {
	image: ImageMetadata;
	title: string;
	description: string;
	tags: string[];
}

const { image, title, description, tags } = Astro.props;
---

<TimelineItem class="absolute inset-0 p-20 flex items-center justify-center">
	<div class="flex flex-col items-start">
		<Card className="image rotate-[-5deg]">
			<Image src={image} alt={title} class="image w-[300px] rounded-lg mix-blend-screen opacity-90" width={1000} />
		</Card>

		<div class="info max-w-md flex flex-col gap-4 p-4 mt-[-50px] ml-[50px] translate-z-10">
			<Card className="absolute inset-0 bg-background/70 backdrop-blur" />
			<div class="flex flex-wrap gap-2 text-xs uppercase">
				{tags.map((tag) => <div class="px-1 leading-4 rounded bg-vibrant/10 text-vibrant/60 translate-z-4">{tag}</div>)}
			</div>
			<div class="animate-text">
				<h2 class="text-5xl uppercase translate-z-5">{title}</h2>
				<p class="text-muted-foreground translate-z-3">{description}</p>
			</div>
		</div>
	</div>
</TimelineItem>

<style>
	* {
		transform-style: preserve-3d;
	}
</style>
