---
import { Image } from 'astro:assets';
import { Card, CardContent, CardTitle } from './ui/card';

interface Props {
	image: ImageMetadata;
	title: string;
	description: string;
	tags: string[];
}

const { image, title, description, tags } = Astro.props;
---

<div class="item absolute inset-0 p-20 flex items-center justify-center">
	<div class="flex flex-col items-start">
		<Card className="image rotate-[-5deg]">
			<Image src={image} alt={title} class="w-[300px] rounded-lg mix-blend-screen opacity-90" width={1000} />
		</Card>

		<Card className="info max-w-md flex flex-col gap-4 p-4 mt-[-50px] ml-[50px] bg-background/70 backdrop-blur">
			<div class="flex flex-wrap gap-2 font-hero text-xs uppercase">
				{
					tags.map((tag) => (
						<div class="px-1 leading-4 rounded bg-muted-foreground text-background mix-blend-screen">{tag}</div>
					))
				}
			</div>
			<div class="animate-text">
				<h2 class="text-5xl uppercase">{title}</h2>
				<p class="font-hero text-muted-foreground">{description}</p>
			</div>
		</Card>
	</div>
</div>
