---
import { Image } from 'astro:assets';

interface Props {
	image: ImageMetadata;
	title: string;
	description: string;
	tags: string[];
}

const { image, title, description, tags } = Astro.props;
---

<div class="item absolute inset-0 p-20 flex gap-4 flex-col items-center justify-center">
	<Image src={image} alt={title} class="w-52 rounded grayscale" width={2000} />
	<div class="text-center max-w-md flex flex-col items-center">
		<div class="flex gap-2 font-hero text-xs uppercase">
			{tags.map((tag) => <div class="px-1 leading-4 rounded bg-gray-300 text-black">{tag}</div>)}
		</div>
		<h2 class="text-5xl uppercase">{title}</h2>
		<p class="font-hero">{description}</p>
	</div>
</div>
